.eeeeeee {
    display: flex;
    gap: 20px;
    align-items: center;
}
.user_dropdown {
    position: relative;
    display: inline-block;
  }
  .user_dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
  }
  .user_dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .fordesktop  {
    width: 36%;
    text-align: right;
}
.user_dropdown-content {
  text-align: left;
}
  .user_dropdown-content a:hover {background-color: #f1f1f1;}
  
  .user_dropdown:hover .user_dropdown-content {
    display: block;
  }
  .user_dropbtn {
    border: unset;
    background-color: unset;
    font-weight: 600;
}
.user_dropdown:hover .user_dropbtn {
    color: #244eef;
}
@media only screen and (max-width: 768px) {
    .fordesktop{
        display: none;
    }

    .navbar-brand img {
        width: 110px;
    }
}

@media only screen and (min-width: 768px) {
    .formobile{
        display: none;
    }



}